<h1><%= @recipe.title %></h1>

Course: <%= @recipe.course %><br>
Description: <%= @recipe.description %><br>
Directions: <%= @recipe.directions %><br>
Time to make: <%= @recipe.time %><br>
Difficulty scale: <%= @recipe.difficulty %><br>
Recipe author: <%= @recipe.user.username %><br>
