<div class="row user_info">
  <aside class="col-md-4">
    <section class="user_info center">
      <h1 class='center'>
        <%= @user.username %>
      </h1>
      <% if current_user? %>
        <%= link_to 'Edit profile', edit_user_path %> |
        <%= link_to 'delete profile', @user, method: :delete %>
      <% end %>
    </section>
  </aside>
  <div class='col-md-8'>
    <% if @user.recipes.any? %>
      <h3> Recipes(<%= @user.recipes.count %>)</h3>
      <ol class="recipes">
        <%= render @recipes %>
      </ol>
      <% # will_paginate @recipes %>
    <% end %>
  </div>
</div>