<% if @errors %>
  <div>
    <% @errors.each do |error| %>
      <%= error %>
    <% end %>
  </div>
<% end %>

<%=form_for([@recipe, @ingredient]) do |f| %>
  <%=f.label :ingredient_type %>
  <%=f.text_field :ingredient_type %><br>

  <%=f.label :amount %>
  <%=f.number_field :amount %><br>

  <%=f.label :measurement %>
  <%=f.select :measurement, options_for_measurements, prompt:"--"  %><br>

  <%=f.submit "Submit Ingredient" %>
<% end %>
