<h1> Edit Ingredient </h1>
<%=form_for([@recipe, @ingredient]) do |f| %>
  <%=f.label :ingredient_type %>
  <%=f.text_field :name %><br>

  <%=f.label :amount %>
  <%=f.number_field :amount %><br>

  <%=f.label :measurement %>
  <%=f.select :meas, options_for_measurements, prompt: "--" %><br>

  <%=f.submit "Submit Ingredient" %>
<% end %>
