<!DOCTYPE html>
<html>
  <head>
    <title>Chowsource</title>
    <%= render 'layouts/rails_defaults' %>
    <%= render 'layouts/shims' %>
    </head>
  <body>
  <div class="container center">
    <%= render 'layouts/headers' %>
    
      <%= yield %>

    <%= render 'layouts/footers' %>
  </div>
  </body>
</html>
