<!DOCTYPE html>
<html>
  <head>
    <title>Chowsource</title>
    <%= render 'layouts/rails_defaults' %>
    <%= render 'layouts/shims' %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/headers' %>
      <% flash.each do |message_type, message| %>
          <div class ="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>

      <%= render 'layouts/footers' %>
    </div>
  </body>
</html>
